<a href="https://colab.research.google.com/github/Hamrita/Statistique-Mathematique/blob/main/TP1_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP1: Les bases du langage R
## R est une calculette

In [45]:
1+3; 2^3; 5/8;
cos(pi/3); sin(pi/3); tan(pi/3)
sqrt(2)
log(2)

[1] 4

[1] 8

[1] 0.625

[1] 0.5

[1] 0.8660254

[1] 1.732051

[1] 1.414214

[1] 0.6931472

R travail avec des objets. Pour affecter "une valeur" à un objet, on utlise soit le symbole "<-" soit tout simplement le symbole "=".

Pour ignorer une ligne (afin d'écrire un commentaire), le symbole "#" sera utilisé au début de la ligne.

In [2]:
# ceci est un commentaire

# affectons la valeur 2 à un objet x
x=2
y=5
z=sqrt(x^2+y^2)

# pour afficher le contenu de x, on tape x puis entrer ou print(x)
x
print(x)
print(z)

[1] 2

[1] 2

R possède des différents modes d'objets: numeric, logique, chaîne de caractère, complexe.

In [11]:
mode(2)
mode(TRUE)
mode("ESS")
mode(2-2i)

[1] "numeric"

[1] "logical"

[1] "character"

[1] "complex"

En plus les différents modes, R distingue aussi entre les différents types d'objets: entier (integer), réel (double), etc

In [12]:
typeof(c(2,3)); typeof(as.integer(2))
typeof(1-2i)
typeof(TRUE)

[1] "double"

[1] "integer"

[1] "complex"

[1] "logical"

## Les fonctions "as." et "is."

"as.FONCTION" est utilisée pour convertir un objet d'un type (mode) à un autre type (mode).

"is.FONCTION" est utiliser pour tester un type (mode) d'un objet

In [13]:
as.integer(2.1)
is.integer(1.2)
is.complex(2i)
as.complex(8)

[1] 2

[1] FALSE

[1] TRUE

[1] 8+0i

R fait aussi la distinction entre différentes classes d'objets: vecteur, matrices, tableau de données (data.frame), listes, etc
## Vecteur
La création d'un vecteur se fait de diverses manières:
### Les fonction "c()" et ":"
La fonction la plus simple à utiliser pour créer un vecteur est la fonction "c()". Les éléments du vecteur seront séparés par un virgule ",".

Pour créer une séquence régulière entière de "a" à "b", on utilise la fonction ":"

In [33]:
# création d'un vecteur contenant 1, -1, 5
x=c(1,-1,5)
x
y=-2:5
y
y[3]  # extraire le troisième élément de y
y[c(1,5)] # extraire le premier et le 5ieme élément de y
y[-2]  # éliminer le deuxième élément
y[y>0] # extraire les éléments strictement positifs
length(y) # la longueur du vecteur y
sum(y)  # la somme des éléments du vecteur y
cumsum(y)  # la somme cumulée des valeurs de y

[1]  1 -1  5

[1] -2 -1  0  1  2  3  4  5

[1] 0

[1] -2  2

[1] -2  0  1  2  3  4  5

[1] 1 2 3 4 5

[1] 8

[1] 12

[1] -2 -3 -3 -2  0  3  7 12

### La fonction "seq()"
La fonction "seq()" permet de créer une séquence régulière. Elle prend 3 arguments (from, to, by (ou len)).

In [18]:
seq1=seq(from=1,to=3,by=0.2) # séquence de 1 à 3 de pas égale à 0.2
seq1
seq2=seq(1,3,len=5) # séquence de 1 à 3 de longueur égale à 5
seq2

 [1] 1.0 1.2 1.4 1.6 1.8 2.0 2.2 2.4 2.6 2.8 3.0

[1] 1.0 1.5 2.0 2.5 3.0

### La fonction "rep()"
La fonction "rep()" permet de faire des répitions d'une valeur ou d'un vecteur.

In [23]:
rep(1,5) # répéter 5 foid la valeur 1 
rep(TRUE, times=8)
rep(c(T,F),times=3)
rep(c(T,F),times=c(3,5)) 
rep(c(T,F), each=5)
rep(c(T,F), each=5, len=13)

[1] 1 1 1 1 1

[1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

[1]  TRUE FALSE  TRUE FALSE  TRUE FALSE

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE
[13]  TRUE

## Les matrices
La création d'une matrice s'effectue à l'aide de la fonction "matrix()". Elle prend cpmme un premier argument un vecteur contenant les valeurs de la mtrice, le deuxième argument le nombre de lignes et le troisi_me argument le nombre de colonnes "matrix(x,nrow,ncol)". Le remplissage de la matrice se fait par défaut colonne par colonne. Si on veut le remplissage se fait ligne par ligne, on ajoute un autre argument "byrow=T"

In [35]:
x=matrix(1:6,nr=3,nc=2)
x
class(x)
x[1,2] # extraire la valeur de la 1iere ligne et la 2ieme colonne
x[-1,]
x[,2]
y=matrix(1:6,nr=2,nc=3,byrow=T)
y
# y n'est autre que la transposée de x
t(y)  # transposée de y
# Le produit matricielle s'effectue à l'aide de la fonction "%*%"
y%*%x
Z=t(x)%*%x  # x'*x
Z
solve(Z)  # l'inverse de Z
diag(1, 4) # matrice identité d'ordre 4
diag(Z)  # extraire la diagonale de Z

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

[1] "matrix" "array"

[1] 4

     [,1] [,2]
[1,] 2    5
[2,] 3    6

[1] 4 5 6

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2]
[1,] 14   32
[2,] 32   77

     [,1] [,2]
[1,] 14   32
[2,] 32   77

     [,1]       [,2]
[1,]  1.4259259 -0.5925926
[2,] -0.5925926  0.2592593

     [,1] [,2] [,3] [,4]
[1,] 1    0    0    0
[2,] 0    1    0    0
[3,] 0    0    1    0
[4,] 0    0    0    1

[1] 14 77

On peut aussi créer une matrice en concatenant deux ou plusieurs vecteurs. Cette concaténation peut être effectuer soit par colonnes "cbind()" soit par ligne "rbind()"

In [37]:
x1=c(1,-5,4)
x2=c(0,1,8)
y1=cbind(x1,x2)
y1
y2=rbind(x1,x2)
y2
colnames(y1)
rownames(y2)

     x1 x2
[1,]  1 0
[2,] -5 1
[3,]  4 8

   [,1] [,2] [,3]
x1 1    -5   4
x2 0     1   8

[1] "x1" "x2"

[1] "x1" "x2"

## Tableau de données (data.frame)
Les éléments d'une matrice sont du même mode (numeric ou logical ou charcter). Pour avoir un tableau de données de différents modes, on fait recours à la classe "data.frame".

In [40]:
x1=c(T,F,F,T)
x2=c("a","b","c","d")
x3=c(-1,2,4,8)
T1=data.frame(x1,x2,x3)
T1
is.data.frame(T1)
is.matrix(T1)
names(T1)
T1$x2
T1[,2]

  x1    x2 x3
1  TRUE a  -1
2 FALSE b   2
3 FALSE c   4
4  TRUE d   8

[1] TRUE

[1] FALSE

### Listes
Les tableaux de données contients des vecteurs de différents modes mais tous de même longueur. Si on veut un objet contenant des objets de différents modes et de différentes longueurs, on fait recours à la classe "list"

In [44]:
Noms=c("Mohamed", "Youssef", "Sarra", "Salma")
ages=c(32,12,14,5)
statut=c("Marié", "célibataire")
func=TRUE
l1=list(Noms=Noms,ages=ages,statut=statut,func=func)
l1
is.list(l1)
names(l1)
# pour extraire un élément d'une liste, on utilise le symbole "$" ou "[[]]"
l1$Noms
l1[[1]]
l1[["Noms"]]

$Noms
[1] "Mohamed" "Youssef" "Sarra"   "Salma"

$ages
[1] 32 12 14  5

$statut
[1] "Marié"       "célibataire"

$func
[1] TRUE

[1] TRUE

[1] "Noms"   "ages"   "statut" "func"

[1] "Mohamed" "Youssef" "Sarra"   "Salma"

[1] "Mohamed" "Youssef" "Sarra"   "Salma"

[1] "Mohamed" "Youssef" "Sarra"   "Salma"